<div class="div  fixed-top  bg-white">
  <div class="container ">
    <div class="row">
      <nav class="navbar navbar-expand-lg bg-body-tertiary mt-1">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">MICROWOOD ENTERPRISES</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse mx-5 px-5 text-start" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About&nbsp;us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#products">Our&nbsp;Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#clients">Clients</a>
              </li> -->

              <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Careers</a>
                </li> -->
            </ul>
            <ul class="navbar-nav d-flex justify-content-end ">
              <li class="nav-item "><a href='tel:+91 9655856913' class="btn btn-wood ">Contact&nbsp;&&nbsp;me</a></li>
              &nbsp; &nbsp; 
              <li class="nav-item "><a href='https://wa.me/+919655856913' class="btn btn-wood">Whatsapp </a></li>

            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

</div>

<br />