<div class="container-fluid bg-footer">
  <footer class="py-5   p-xs-2 p-sm-2  p-md-3 p-lg-5">
    <div class="row">
      <div
        class="col-12 col-md-4 col-lg-4 col-sm-12 mb-3 text-center text-lg-start text-md-start text-sm-center  text-sx-center">
        <h5 class="header-widget">Microwood Enterprises</h5>
        <p>
          Experience the elegance of wood like never before. Take a virtual glimpse into how our beautifully crafted doors can transform your living spaces.
        </p>
        <h6>Address</h6>
        <p>
          Hosur, Tamil Nadu, India
        </p>
        
        <h6>Ready to bring your door dreams to life?</h6>
        <h6>Contact Us</h6>
        <p><a href="tel:+91 9655856913">+91 9655856913</a></p>
        
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-sm-12  mb-3  row  d-flex flex-row">
        <div
          class="p-2 mx-3 col-12 col-md-4 col-lg-4 col-sm-12 text-center  text-lg-start text-md-start text-sm-center  text-xs-center">
          <h5 class="header-widget">Explore</h5>
          <ul class="nav flex-column  ">
            <li class="nav-item mb-2"><a  href="https://wa.me/+919655856913" class="nav-link p-0 text-body-secondary ">Home</a></li>
            <li class="nav-item mb-2"><a  href="https://wa.me/+919655856913" class="nav-link p-0 text-body-secondary">About&nbsp;Us</a></li>
            <li class="nav-item mb-2"><a  href="https://wa.me/+919655856913" class="nav-link p-0 text-body-secondary">Products</a></li>
            <li class="nav-item mb-2"><a  href="https://wa.me/+919655856913" class="nav-link p-0 text-body-secondary">Services</a></li>
            <li class="nav-item mb-2"><a  href="https://wa.me/+919655856913" class="nav-link p-0 text-body-secondary">About</a></li>
          </ul>
        </div>
        <div
          class="p-2 mx-3 col-12 col-md-4 col-lg-4 col-sm-12  text-center  text-lg-start text-md-start text-sm-center  text-xs-center">
          <h5 class="header-widget">Products</h5>
          <ul class="nav flex-column ">
            <li class="nav-item mb-2"><a  href="https://wa.me/+919655856913" class="nav-link p-0 text-body-secondary ">Door</a></li>
            <li class="nav-item mb-2"><a  href="https://wa.me/+919655856913" class="nav-link p-0 text-body-secondary">Carving</a></li>
            <li class="nav-item mb-2"><a  href="https://wa.me/+919655856913" class="nav-link p-0 text-body-secondary">Interior</a></li>
            <li class="nav-item mb-2"><a  href="https://wa.me/+919655856913" class="nav-link p-0 text-body-secondary">Sculpture</a></li>
            <li class="nav-item mb-2"><a  href="https://wa.me/+919655856913" class="nav-link p-0 text-body-secondary">Pillar Design</a></li>
          </ul>
        </div>
      </div>

      <div
        class="col-12 col-md-4 col-lg-4 col-sm-12  mb-3 text-center  text-lg-start text-md-start text-sm-center  text-xs-center">
        <form>
          <p>
            Stay updated with the latest trends in wooden doors, interiors, and handcrafted designs. Discover how Microwood can elevate your space.
          </p>
          <p>
            From traditional carvings to modern minimalism, Microwood Enterprises helps you explore the finest in customized woodcraft.
          </p>
          
          <h6>Customer Support</h6>
          <p><a href="tel:+91 8300510554">+91 8300510554</a></p>
          
          <h6>Email Us</h6>
          <p>
            <a href="mailto:microwooden@gmail.com?subject=Enquiry&body=Hi, I would like to know more about your services.">
              microwooden@gmail.com
            </a>
          </p>
          
        </form>
      </div>


      <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 pb-sm-0 pb-xs-0 pb-0 mb-0  border-top">
        <p class="d-flex justify-content-center">&copy; 2025 Microwood Enterprises. All rights reserved.</p>

        <ul class="list-unstyled align-items-center d-flex flex-wrap  justify-content-center ">
          <li class="ms-3 ">
            <a class="link-body-emphasis"  href="https://wa.me/+919655856913"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis"  href="https://wa.me/+919655856913"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis"  href="https://wa.me/+919655856913"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://wa.me/+919655856913">
              <i class="fa fa-pinterest fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis"  href="https://wa.me/+919655856913">
              <i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis"  href="https://wa.me/+919655856913"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis"  href="mailto:microwooden@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <div class="justify-content-center d-flex">
        <span>Developed by <span style="color:var(--main)"><a href="tel:+91 8526021884">Poorani Gunasekaran</a></span></span>

      </div>
    </div>
  </footer>
</div>