<div class="container mt-2 pt-2" id="clients">
    <div class="row">
        <div class="col-12">
           
        <h2 class="text-center  text-wood my-5">OUR CLIENTS</h2>
<swiper 
style="padding:2rem"
 [breakpoints]="breakpoints" [loop]="true" 	[autoplay]="{ delay: 1000, disableOnInteraction: false }" 
[pagination]="{ el: '.swiper-pagination.pagination-test' }">
<ng-template swiperSlide><img src="../assets/images/logo/logo-1.png"  alt="image1"></ng-template>
<ng-template swiperSlide><img src="../assets/images/logo/logo-2.png"  alt="image1"></ng-template>
<ng-template swiperSlide><img src="../assets/images/logo/logo-3.png"  alt="image1"></ng-template>
<ng-template swiperSlide><img src="../assets/images/logo/logo-4.png"  alt="image1"></ng-template>
<ng-template swiperSlide><img src="../assets/images/logo/logo-5.png"  alt="image1"></ng-template>
<ng-template swiperSlide><img src="../assets/images/logo/logo-6.png"  alt="image1"></ng-template>
</swiper>
        </div>
    </div>
</div>