<div class="container" id="about">
  <div class="row" >
    <h1 class="about-left-heading text-center  mt-5 mt-sm-1 mt-xs-1 justify-content-center align-items-center text-wood">
        About  <span class="highlight-text" >Microwood Enterprises</span>
    </h1>
    <div class="col-12 col-md-6 col-lg-6 m-0 p-0 about-right d-flex justify-content-center align-items-center p-lg-5 ">
      <img src="../../assets/images/team/microwood_enterprises_CEO.jpeg" height="auto" width="100%" alt="microwood_enterprises_CEO:VAIRAVEL GUNASEKARAN " title="microwood_enterprises_CEO:VAIRAVEL GUNASEKARAN" class=" microwood_enterprise_ceo_image"/>
    </div>
    <div class="col-12 col-md-6 col-lg-6  m-0 p-2 ps-4 about-left justify-content-left text-grey">
      <h5 class="text-grey fw-500 ">
        Over <span class="highlight-text-small">5+ Years Experience</span> in This Industry 
      </h5>
      <h6>Completed <span class="highlight-text-small">100+ projects</span></h6>
      <ul class="about-left-para text-grey">
        <li> Endless possibilities in door design.</li>
        <li> Innovation is built into our DNA.</li>
        <li>  We are relentless in our pursuit of simpler, more considered products that fit comfortably into our customers lives.</li>
        <li> To provide customers with home repair service experience that
          delights them and become their best-handy-friend.</li>
          <li>    A revolutionary door glazing cassette system, designed by DoorCo and made in India, with Foam in Place technology and unrivalled aesthetic freedom.</li>
      </ul>
      
      <button class="btn btn-wood">Order Now!</button>
    
    </div>
  </div>
</div>
