<div class="container">
  <div class="row">
    <h1 class="about-left-heading text-center my-1 text-wood">
        ABOUT <span class="highlight-text " >SAMPLE</span>
      </h1>
    <div class="col-12 col-md-6 col-lg-6 about-right justify-content-center">
      <img src="../../assets/images/about/2-4.jpg" alt="" />
    </div>
    <div class="col-12 col-md-6 col-lg-6 about-left justify-content-center">
      <h4>
        Over 25 Years Experience in This Industry
      </h4>
      <p class="about-left-para">
        Our commitment to bring professionalism, good service & trust to the
        home repair service & maintenance business. We take immense pride in
        sending some of the most of professional handymen to yours homes to fix
        things that aren't workings. We have fixed over 5,50,000 houses in our
        little over 25 years of existence so far. <br /><br/>

        Since our meetings take place in your home or office, we’ll work with
        you to help visualize a design solution that aligns with your taste and
        bugjet, To provide customers with home repair service experience that
        delights them and become their best-handy-friend.
      </p>
      <button class="btn btn-wood">Order Now!</button>
    </div>
  </div>
</div>
