<br/>
<div class="container" id='home'>
  <div class="row row-hero mt-2">

    <div class="col-12 col-md-6 col-lg-7  hero-left justify-content-center p-4">
      <h1 class="hero-left-heading ">
        Eveything is an art <br />Enjoy with our
        <span class="highlight-text">Design</span>
      </h1>
      <p class="text-grey">
        Go on a journey of discovery.
        Explore four ways to realize
        your perfect door.<br />Front Door Trends that
        will Boost Your Home's
        Curb Appeal
      </p>
      <button class="btn btn-wood">Order Now!</button>
    </div>
    <div class="col-12 col-md-6 col-lg-5 hero-right">
      <img src="../../assets/images/customer-projects-slider//microwood_enterprises_customer_proejct_6-min.jpg"
        class="hero-img-1" alt="" width="90%" height="auto" />



      <span class="leaf leaf2">
        <img src="../../assets/images/wood types/materials-2-1.png" alt="" width="40px" height="40px">
      </span>
      <span class="leaf leaf3">
        <img src="../../assets/images/wood types/materials-3-1.png" alt="" width="40px" height="40px">
      </span>
    </div>
    <span class="leaf leaf1">
      <img src="../../assets/images/wood types/materials-1-1.png" alt="">
    </span>
  </div>
</div>