<div class="container">
  <div class="row ">
  
      <div class="col-12 col-md-6 col-lg-7  hero-left justify-content-center">
        <h1 class="hero-left-heading ">
          Eveything is an art <br />Enjoy with our
          <span class="highlight-text">Design</span>
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          laudantium laborum consequatur aliquid soluta quisquam. 
        </p>
        <button class="btn btn-wood">Order Now!</button>
      </div>
      <div class="col-12 col-md-6 col-lg-5 hero-right">
        <img src="../../assets/images/wood types/materials-1.png" alt="" />
        <span class="leaf leaf1">
          <img src="../../assets/images/wood types/materials-1-1.png" alt="">
        </span>
        <span class="leaf leaf2">
          <img src="../../assets/images/wood types/materials-2-1.png" alt="">
        </span>
        <span class="leaf leaf3">
          <img src="../../assets/images/wood types/materials-3-1.png" alt="">
        </span>
      </div>
  
    </div>
  </div>

