<div class="container-fluid">
    <div class="row">
        <h3 class="text-center mb-5">WHY CHOOSE US!</h3>
        <div class="col-4">
            <h6>5 YEARS OF EXPERINCE</h6>
            <p class='text-white'>We have 25 years of woodcraft experience right to your residential, office, restaurants hospital and etc…</p>
        </div>
        <div class="col-4">
            <h6>CREATIVE DESIGNERS</h6>
            <p class='text-white'>Our designing team designs with your taste, space, and budget, Also our team will guide you to choose ...</p>
        </div>
        <div class="col-4">
            <h6>
                QUALITY PRODUCTS
            </h6>
            <p class='text-white'>We provide high quality products only to our customers, our prodcuts are certified with WI organization usa.</p>
        </div>
        <div class="col-4">
            <h6>AWARDS WINNING TEAM</h6>
            <p class='text-white'>In 1984 we have won the best resedential carpenter awrard from worlds carpernter organization in usa.</p>
        </div>
        <div class="col-4">
            <h6>FREE CONSULTATION</h6>
            <p class='text-white'>We provide free consultation about designs, quality, space, budget and etc you can get it all of them ...</p>
        </div>
        <div class="col-4">
            <h6>
                24/7 CUSTOMER SUPPORT
            </h6>
            <p class='text-white'>Whenever & wherever you need our support you can contact ourcustomer support team by 24/7, they will guide</p>
        </div>
    </div>
</div>
