<div class="container-fluid">
  <div class="row">
        <h1 class="text-center  text-wood my-3">OUR PRODUCTS</h1>
      
    <h6 class="text-center my-3 text-underline">OUR AWESOME REAL PROJECTS</h6>
    <div class="col-12">
        <swiper 
        [loop]="true"
        [breakpoints]="breakpoints"
      >
        <ng-template swiperSlide
          ><img
            src="../../assets/images/products/microwooden-door-1.jpg"
            alt="image1"
            class="product-image"
        /></ng-template>
        <ng-template swiperSlide
          ><img
            src="../../assets/images/products/microwooden-door-2.jpg"
            alt="image1"
            class="product-image"
        /></ng-template>
        <ng-template swiperSlide
          ><img
            src="../../assets/images/products/IMG-20230315-WA0019.jpg"
            alt="image1"
            class="product-image"
        /></ng-template>
        <ng-template swiperSlide
          ><img
            src="../../assets/images/products/IMG-20230314-WA0039.jpg"
            alt="image1"
            class="product-image"
        /></ng-template>
        <ng-template swiperSlide
          ><img
            src="../../assets/images/products/IMG-20230221-WA0012.jpg"
            alt="image1"
            class="product-image"
        /></ng-template>
        <ng-template swiperSlide
          ><img
            src="../../assets/images/products/IMG-20230314-WA0039.jpg"
            alt="image1"
            class="product-image"
        /></ng-template>
      </swiper>
    </div>

  </div>
</div>
