<div class="container-fluid py-md-3 py-lg-5 py-xs-0 py-sm-0 my-2" id="products">
  <div class="row">
    <h1 class="about-left-heading text-center mt-3 mt-sm-0 p-sm-0 p-xs-0 mt-xs-0 text-wood">
      Discover <span class="highlight-text">Your Perfect Door</span>
    </h1>

    <!-- <h6 class="text-center my-3">OUR AWESOME REAL PROJECTS</h6> -->
    <div class="col-12">
      <swiper [loop]="true" [breakpoints]="breakpoints" [navigation]="{}"
     [scrollbar]="{ draggable: true }" [watchSlidesProgress]="true">
        <ng-template swiperSlide *ngFor="let image of images"  >
          <img src="{{image}}"  class="product-image ms-5" loading="lazy" >
        </ng-template>
       
      </swiper>
    </div>

  </div>
</div>