
<div class="container py-md-3 py-lg-3 py-xs-0 py-sm-0 my-1" id="products">
  <div class="row">
    <h1 class="about-left-heading text-center mt-3 text-wood">
      Client <span class="highlight-text">Perfect Door</span>
    </h1>

    <div class="col-12">
      <swiper
        [loop]="true"
        [navigation]="true"
        [breakpoints]="breakpoints"
        class="custom-swiper"
      >
        <ng-template swiperSlide *ngFor="let image of clientImages">
          <div class="slide-wrapper">
            <img
              [src]="image"
              alt="microwood_enterprises_client_projects"
              title="microwood_enterprises_client_projects"
              loading="lazy"
              class="product-image"
              height="300px"
             
            />
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
<hr>
<div class="container py-md-3 py-lg-3 py-xs-0 py-sm-0 my-1" id="products">
  <div class="row">
    <h1 class="about-left-heading text-center mt-3 text-wood">
      Discover <span class="highlight-text">Your Perfect Door</span>
    </h1>

    <div class="col-12">
      <swiper
        [loop]="true"
        [navigation]="true"
        [breakpoints]="breakpoints"
        class="custom-swiper"
      >
        <ng-template swiperSlide *ngFor="let image of images">
          <div class="slide-wrapper">
            <img
              [src]="image"
              alt="microwood_enterprises_client_projects"
              title="microwood_enterprises_client_projects"
              loading="lazy"
              class="product-image"
             
            />
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>